<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="quartz" type="System.Configuration.NameValueFileSectionHandler" />
  </configSections>
  <!--<AppSettings>
    <add key="connectionstring" values="Data Source=.;Initial Catalog=TSQLTEST;Integrated Security=True"></add>
  </AppSettings>-->

  <quartz>
    <add key="quartz.plugin.recentHistory.type" value="Quartz.Plugins.RecentHistory.ExecutionHistoryPlugin, Quartz.Plugins.RecentHistory" />
    <add key="quartz.plugin.recentHistory.storeType" value="Quartz.Plugins.RecentHistory.Impl.InProcExecutionHistoryStore, Quartz.Plugins.RecentHistory" />

    <add key="quartz.plugin.quartzmin.type" value="Quartzmin.SelfHost.QuartzminPlugin, Quartzmin.SelfHost" />
    <add key="quartz.plugin.quartzmin.url" value="http://*:5050" />


    <add key="quartz.plugin.recentHistory.type" value="Quartz.Plugins.RecentHistory.ExecutionHistoryPlugin, Quartz.Plugins.RecentHistory" />
    <add key="quartz.plugin.recentHistory.storeType" value="Quartz.Plugins.RecentHistory.Impl.InProcExecutionHistoryStore, Quartz.Plugins.RecentHistory" />

    <!-- configure Thread Pool-->
    <add key="quartz.threadPool.type" value="Quartz.Simpl.SimpleThreadPool,Quartz" />
    <!--配置线程池数-->
    <add key="quartz.threadPool.threadCount" value="10" />
    <!--配置线程优先级-->
    <add key="quartz.threadPool.threadPriority" value="Normal" />
    <!--调度器完成任务60000ms(10min)后，再开始调度下一次任务-->
    <add key="quartz.jobStore.misfireThreshold" value="60000" />
    <!--存储类型-->
    <add key="quartz.jobStore.type" value="Quartz.Impl.AdoJobStore.JobStoreTX, Quartz" />
    <!--调度标识名 集群中每一个实例都必须使用相同的名称-->
    <add key="quartz.scheduler.instanceName" value="ServiceScheduler" />
    <!--自动生成调度器ID，每一个必须不同-->
    <add key="quartz.scheduler.instanceId" value="AUTO" />
    <!--表名前缀-->
    <add key="quartz.jobStore.tablePrefix" value="QRTZ_" />
    <!--驱动类型-->
    <add key="quartz.jobStore.driverDelegateType" value="Quartz.Impl.AdoJobStore.SqlServerDelegate, Quartz" />
    <!--数据源名称-->
    <add key="quartz.jobStore.dataSource" value="myDS" />
    <!--连接字符串-->
    <add key="quartz.dataSource.myDS.connectionString" value="Data Source=47.98.244.1;Initial Catalog=ServicesPlatform;User ID=HCDB;Password=Az123456.." />
    <!--<add key="quartz.dataSource.myDS.connectionString" value="Data Source=.;Initial Catalog=ServicesPlatform;Integrated Security=True" />-->
    <!--数据库，版本-->
    <add key="quartz.dataSource.myDS.provider" value="SqlServer" />
    <!--数据传输格式-->
    <add key="quartz.serializer.type" value="json" />
    <!--是否启用集群-->
    <add key="quartz.jobStore.clustered" value="true" />
    
  </quartz>
</configuration>
